.VSCodeCounter/
*.d
*.o
*.srv
*.elf
*.so
*.a
oh_tee/
kernel/bl32.bin
kernel/incbin_promgr_bin.S
kernel/linker.ld.S
kernel/linker.ld
kernel/kernel.img
user/system-services/chcore-libc/musl-libc
user/system-services/system-servers/procmgr/fsm.incbin.S
user/system-services/system-servers/procmgr/procmgr
user/system-services/system-servers/procmgr/read_procmgr_elf_tool
user/system-services/system-servers/procmgr/tmpfs.incbin.S
user/system-services/system-servers/tmpfs/incbin_ramdisk.S
user/system-services/system-servers/tmpfs/ramdisk.cpio
